<html lang="en">
<head>
  <meta charset="utf-8">

  <title>List</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='/stylesheets/style.css' type="text/css" rel="stylesheet">

  <script src="/javascripts/onstart.js"></script>

</head>

<body>
  <div>
        <div class="logblock" id="logb">


          <ul class="nav navbar-nav navbar-right">
            <% if (!user) { %>
                          <li><a href = '/register'><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
                          <li><a href = '/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                      <% } else { %>
                        <li><a href = '/logout' style="pointer-events: none;  cursor: default;  color: #000000;"><%= user.username%></a></li>
                        <li><a href = '/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li><a href = '/user_profile'><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                      <% } %>
  </ul>

       </div>
     </div>

  <div>
       <div class="mainimage" id="log2">
           <img src='/images/books.png' width=150 height=110 alt="Books"/></br></br><br>
           <a href = '/'><p class="p1">Main page</p></a>

           <a href = '/articles'><p class="p1">Article list</p></a>
           <hr>
         <p class="p1">  Participation</p>

            <% if (!user) { %>
       <p class="p2">Login first.</p>
                      <% } else { %>
                          <a href = '/new_article'><p class="p2">Create article</p></a>

                      <% } %>

           Search:<br>

           <form action='/search' class="input-group" method='GET' id="search_form">
             <div class="input-group">
             <input type="text" placeholder="Search" class="form-control input-sm" name="search"  id="search">
               <div class="input-group-btn">
                 <button class="btn btn-default btn-sm" type="submit">
                   <i class="glyphicon glyphicon-search"></i>
                 </button>
                 </div>
               </div>
               <input type="hidden" name="_csrf" value="<%=csrfToken%>">

             </form>
       </div>

       <div class="articleslist" id="logb2" style="height : 87%;">

    <h1 align="center">All articles here!</h1><br><br>


    <% var tempArr = [];%>
       <% var ABC = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","S","Y","Z"]%>

       <%for (var c = 0; c<ABC.length ; c++){%>
         &nbsp&nbsp&nbsp&nbsp<%=ABC[c]+':'%><br>
       <%  for (var i in ar) { %>

       <%if(ar[i].acategory.charAt(0).toUpperCase()==ABC[c]){ %>

         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%var temp = ar[i].acategory %>

         <%  if(tempArr.indexOf(ar[i].acategory)==-1){  %>

           <%=ar[i].acategory+':'%><br>
           <% for (var j in ar) { %>
             <% if(ar[j].acategory == temp){%>
             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href = <%=ar[j].address%> ><%=ar[j].aname%></a><br>
             <% } %>
             <% }; %>
           <%}%>
             <% tempArr[i] = ar[i].acategory%>

             <%} %>
           <% }; %>
   <hr>
           <%}%>





       </div>
<script src="/javascripts/check.js"></script>
</body>
</html>
