<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%=ar.aname%></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div class='container' align = "right">
    <% if (!user) { %>
                  <a href = '/login'>Login</a>
              <% } else { %>
                  <a href = '/user_profile'>Your profile</a>
                  <a href = '/logout'>Logout</a>

              <% } %>
  </div>
<div class='container'>
  <p>
<h2><%=ar.aname%></h2><br>
<%=ar.acategory%><br>
<%=ar.asummary%><br>
<% if (ar.image) { %>
              <img src='data:image/jpg;base64,<%= ar.image %>' width=120 height=120 alt="left" /><br>
          <% } else { %>
              <p>
                  No image<br>
              </p>
          <% } %>
          <hr>
          <%=ar.atext%><br>

</p>
</div>

</body>
</html>
