<!doctype html>

<html lang="en">
<head>
  <title>Update article</title>

  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">


  <link  href='/stylesheets/style.css' type="text/css" rel="stylesheet">
  <script href="../node_modules/ejs/ejs.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../dist/css/jasny-bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="javascripts/bootstrap-filestyle.min.js"> </script>

  <script type="text/javascript" src="javascripts/bootstrap-filestyle.min.js"> </script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-*.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
<link href='/stylesheets/style.css' type="text/css" rel="stylesheet">

<link href='/stylesheets/style.css' type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript" src="javascripts/bootstrap-filestyle.min.js"> </script>


<link href='/stylesheets/style.css' type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>


<script type="text/javascript" src="javascripts/bootstrap-filestyle.min.js"> </script>

<script src="/javascripts/new_article.js"></script>
</head>
<body>
   <header>
  <nav class="navbar navbar-fixed-top navbar-default">
     <div class="container-fluid">
          <div class="navbar-header">

            <a class="navbar-brand" href="/">Kursachepedia</a>
          </div>

          <div class="navbar-offcanvas offcanvas">

            <ul class="nav navbar-nav">
              <li><a href = '/articles'><span class="glyphicon glyphicon-list"></span> Article list</a></li>

              <% if (!user) { %>
              <li><a href = '/new_article' style="pointer-events: none;  cursor: default;"><span class="glyphicon glyphicon-plus"></span> Create article</a></li>
                <% } else { %>
              <li><a href = '/new_article'><span class="glyphicon glyphicon-plus"></span> Create article</a></li>
               <% } %>


            </ul>

            <form action='/search' method='GET' class="navbar-form navbar-left" id="search_form">
         <div class="input-group">
           <input type="text" class="form-control input-sm" placeholder="Search" id="search" name="search">
             <div class="input-group-btn">
               <button class="btn btn-default btn-sm" type="submit">
                 <i class="glyphicon glyphicon-search"></i>
               </button>
             </div>
           </div>
           <input type="hidden" name="_csrf" value=<%=csrfToken%>>
          </form>

          <ul class="nav navbar-nav navbar-right">
          <% if (!user) { %>
                        <li><a href = '/register'><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
                        <li><a id="login" href = '/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% } else { %>
                        <li><a href = '/logout' style="pointer-events: none;  cursor: default"><%= user.username%></a></li>
                        <li><a href = '/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li><a href = '/user_profile'><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <% } %>
        </ul>



          </div><!--/.nav-collapse -->
        </div>
        </nav>
 </header>





  <div class='container' style="margin-top : 20px;">
    <div class="jumbotron col-lg-12">
      <h2 align="center">Welcome <%= user.username%>!</h2>
      <p align="center">Here you can edit article data.</p>
<br>
<br>
    <div class="jumbotron col-lg-7">
        <div class="Lists">
      <form action='/update_article<%=ar.address%>' method='POST' enctype="multipart/form-data" class="input-group" id="newa">


      <div class="form-group  has-feedback atitle">
        <label for="atitle">Title</label>
      <input type='text' name='atitle' class="form-control" disabled="disabled" value="<%=ar.aname%>"  id="atitle" aria-describedby="inputSuccess2Status"/>
    </div>

    <div class="form-group articlecontainer has-feedback " id="1" >
    <font color="red" style="visibility: hidden;">Костыль</font>
    </div>
<div style="text-align: center;">
    <% if (ar.image) { %>
                  <img src='data:image/jpg;base64,<%= ar.image %>' align ="center" class="img-thumbnail" width=200/>
              <% } else { %>
                  <img src='http://s1.iconbird.com/ico/1012/Qetto2Icons/w256h2561350657638gallery.png' class="img-thumbnail" width=200  alt='None' />
              <% } %>
</div>



    <%var tempArr = [];
    var row='';%>

    <div class="form-group  has-feedback category">
      <label for="category"><br>Existing categories<br/></label>
      <br>
    <select id="category" name = "category" class="selectpicker" value='<%=ar.acategory%>'>
      <%for (var i in articles) {
        if(tempArr.indexOf(articles[i].acategory)==-1){%>
        <option value="<%=articles[i].acategory%>"><%=articles[i].acategory%></option>
        <%}
        tempArr[i] = articles[i].acategory;
        };
        %>
    </select>

    </div>







      <div class="form-group  has-feedback acategory">
        <label for="acategory">Category</label>
      <input type='text' name='acategory' class="form-control" id="acategory" aria-describedby="inputSuccess2Status"/>
    </div>

    <div class="form-group articlecontainer has-feedback " id="2" >
    <font color="red" style="visibility: hidden;">Костыль</font>
    </div>

      <div class="form-group  has-feedback asummary" >
          <label for="asummary"><br>Article summary</label>
      <textarea rows="5" cols="100" style="resize: none; " name="asummary" class="form-control" id="asummary" aria-describedby="inputSuccess2Status"><%=ar.asummary%></textarea>
    </div>
    <div class="form-group articlecontainer has-feedback " id="3" >
    <font color="red" style="visibility: hidden;">Костыль</font>
    </div>




      <div class="form-group articlecontainer has-feedback atext" >
        <label for="atext"><br>Article text</label>
      <textarea rows="10" cols="100" name="atext" style="resize: none; " class="form-control" id="atext" aria-describedby="inputSuccess2Status"><%=ar.atext%></textarea>
    </div>
    <div class="form-group articlecontainer has-feedback " id="4" >
    <font color="red" style="visibility: hidden;">Костыль</font>
    </div>



<div class="form-group articlecontainer has-feedback " >

  <label for="image"><br>Article image</label>

    <input type="file"  name='image' class="filestyle" data-buttonBefore="true"  accept="image/*">

  </div>
  <div class="form-group articlecontainer has-feedback " id="res" >



<label for="image"><font color="red" style="visibility: hidden;">Костыль</font></label>
  </div>



    <br />

      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
      <input type="submit" class="btn btn-primary" value='Update article.' />
    </form>
  </div>


</div>

  <div class="jumbotron col-lg-5" >
    <div class="form-group articlecontainer has-feedback " >
      <div class="alert">
    <label for="image" align ="center">Recommendations for creation</label>
    <hr>
    <ul>
     <li>The  category should consist of english letters and spaces.</li>
     <li>You can select an existing category, leave the field "Category" empty in this case.</li>
     <li>If you want to create a new category, fill field "Category".</li>
     <li>Priority has field "Category".</li>
     <li>All fields are required.</li>
    </ul>
  </div>
      </div>
  </div>

    </div>

  </div>


  <script src="/javascripts/check.js"></script>


</body>
</html>
