<!doctype html>

<html lang="en">
<head>
  <title>Profile</title>

  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script type="text/javascript" src="javascripts/bootstrap-filestyle.min.js"> </script>

  <link  href='/stylesheets/style.css' type="text/css" rel="stylesheet">
  <script href="../node_modules/ejs/ejs.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../dist/css/jasny-bootstrap.min.css" rel="stylesheet">


</head>
<body>
   <header>
  <nav class="navbar navbar-fixed-top navbar-default">
     <div class="container-fluid">
          <div class="navbar-header">

            <a class="navbar-brand" href="/">Kursachepedia</a>
          </div>

          <div class="navbar-offcanvas offcanvas">

            <ul class="nav navbar-nav">
              <li><a href = '/articles'><span class="glyphicon glyphicon-list"></span> Article list</a></li>

              <% if (!user) { %>
              <li><a href = '/new_article' style="pointer-events: none;  cursor: default;"><span class="glyphicon glyphicon-plus"></span> Create article</a></li>
                <% } else { %>
              <li><a href = '/new_article'><span class="glyphicon glyphicon-plus"></span> Create article</a></li>
               <% } %>


            </ul>

            <form action='/search' method='GET' class="navbar-form navbar-left" id="search_form">
         <div class="input-group">
           <input type="text" class="form-control input-sm" placeholder="Search" id="search" name="search">
             <div class="input-group-btn">
               <button class="btn btn-default btn-sm" type="submit">
                 <i class="glyphicon glyphicon-search"></i>
               </button>
             </div>
           </div>
           <input type="hidden" name="_csrf" value=<%=csrfToken%>>
          </form>

          <ul class="nav navbar-nav navbar-right">

          <% if (!user) { %>
                        <li><a href = '/register'><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
                        <li><a id="login" href = '/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <% } else { %>
                        <li><a href = '/logout' style="pointer-events: none;  cursor: default"><%= user.username%></a></li>
                        <li><a href = '/logout'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li><a href = '/user_profile'><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <% } %>
        </ul>



          </div><!--/.nav-collapse -->
        </div>
        </nav>
 </header>





  <div class='container jumbotron' style="margin-top : 20px;   border-radius: 8px;">

    <div class="panel panel-default">





  <div class="panel-heading">

     <h2 align="center">Your profile</font></h2><br>
     <p align="center">Here you can update your information</p>
</div>

    <div class='container'>

      <div class="panel-body">

    <div class="info">
      <div class="jumbotron col-lg-6">
      <form action='/user_profile' method='POST' enctype="multipart/form-data" id="uProf">

        <div class="form-group has-feedback username">
          <label  class="control-label" for="username">Username:</label>
          <input type="username" class="form-control" name="username" value="<%=user.username%>" id="username" disabled="true">
        </div>

        <div class="form-group has-feedback emailBlock">
          <label class="control-label" for="email">Email:</label>
          <input type="email" class="form-control" name="email" value = "<%= user.email%>" id="email">
        </div>

        <div class="form-group has-feedback passwordBlock">
          <label class="control-label" for="password">Password:</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>

        <div class="form-group has-feedback password2Block">
          <label class="control-label" for="password2">Repeat password:</label>
          <input type="password" class="form-control" name="password2" id="password2">
        </div>

        <div class="form-group has-feedback files ">
          <label class="control-label" for="file">Load Avatar:</label>
          <input type="file"  name='avatar' class="filestyle" data-buttonBefore="true"  accept="image/*">


        </div>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          <button type="submit" class="btn btn-primary">Update</button>

      </div>
    </form>
      <div class="jumbotron col-lg-6" style="background-color: #FFFFFF" >
        <br>
        <br>
        <br>
      <% if (user.image) { %>
                    <img src='data:image/jpg;base64,<%= user.image %>' class="img-thumbnail" width=320/>
                <% } else { %>
                    <img src='https://pp.vk.me/c406321/v406321729/416c/Nv-as8CrDq0.jpg' class="img-thumbnail" width=320  alt='anonymus' />
                <% } %>
      </div>
    </div>


</div>
  </div>
    </div>
  </div>
  <script src="/javascripts/check.js"></script>
<script src="/javascripts/user.js"></script>

</body>
</html>
